{% extends "base.html" %}
{% block content %}
    <h2>Log in</h2>
    <div class="row">
        <div class="col-lg-9">
            {% if errors %}
                <div class="alert alert-danger" role="alert">
                    {{ errors }}
                </div>
            {% endif %}
            <form action="" method="post">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" name="email"
                           placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" name="password"
                           placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
        </div>
        <div class="col-lg-3">
            explain
        </div>
    </div>
{% endblock %}
